/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
body{
    background: #f5e0df;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container{
    margin: 0 auto;
    width: 80%;
}

#main-header{
    height: 60px;
    background: #f5e0df;
}
#profile-logo{
    float: left;
    width: 50%;
}
#profile-logo img{
    margin-top: 5px;
    position: absolute;
    width: 60px;
    height: auto;
}
#profile-logo p{
    padding: 20px 0 0 70px;
    margin: 0 !important;
    color: #333;
    font-family: montserrat;
    font-size: 32px;
}
#profile-logo span{
    font-weight: 800;
    color: #5e1221;
    font-style: normal;
    font-family: Arial;
}

#main-nav{
    float: right;
    width: 50%;
}

#main-nav ul{
    float: right;
}
#main-nav li{
    float: left;
}
#main-nav a{
    color: #333;
 text-decoration: none;
}
#main-nav li{
    list-style: none;
    margin: 10px 15px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}
#main-nav a:hover{
    color: red;
}

/****** content section ******/
#sidebar{
    width: 33%;
    background: #f5e0df;
    position: relative;
    float: left;
}

#sidebar img{
    margin: 270px 0 0 300px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

#content{

    width: 67%;
    background: #f5e0df;
    float: right;
}
#content h1{
    font-family: 'Montserrat', sans-serif;
    color: rgba(51, 51, 51,0.8);
    font-size: 38px;
    margin-top: 305px;
    margin-left: 100px;
}

#content h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: -24px;
    margin-left: 100px;
    color: rgba(51, 51, 51,0.8);
}

/******* About me  ***************/
#profile-image{
    width: 100%;
    display: block;


}
#profile-image img{
    width: 250px;
    height: 200px;
    margin-top: 100px;
    margin-left: 550px;
    border-radius: 50%;
}
#profile-image i{
    float: right;
}
#about-text{
    width: 100%;
    display: block;
    border: 1px solid blue;
    margin-top: 50px;
}
#about-text p{
    text-align: center;
    font-family: "Krona One";
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}